<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="dashboard">
    <h1>Admin Dashboard</h1>

    <div class="cards">
        <div class="card">
            <h3>Total Logs</h3>
            <p>0</p>
        </div>

        <div class="card">
            <h3>Error Logs</h3>
            <p>0</p>
        </div>

        <div class="card">
            <h3>Warning Logs</h3>
            <p>0</p>
        </div>

        <div class="card">
            <h3>CPU Usage</h3>
            <p>%0</p>
        </div>
    </div>
</div>

</body>
</html>